@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model WebAPI.TestModel
@{
    Layout = null;
}

@*Must be used with StartupEndPointBugTest*@

 <script src="~/js/MyJS.js"></script>

<div class="text-center">
    <h1 class="display-4">CORS Test</h1>
</div>


<div>
    <span id='result'></span>
</div>


<form>
    <p>
        Controller: 
        <select name="number" asp-for="Number">
            <option selected="selected" value="1">No-preflight</option>
            <option value="2">Preflight</option>
        </select>

        <input type="submit" value="Set" />
    </p>
</form>

<ul>
    <li>
        <input type="button" value="PUT test MyTestCors"
               onclick="MyTestCors( '@Model.Host', '/api/TodoItems' + '@Model.Number' + '/5', 'PUT')" />
    </li>

    <li>
        <input type="button" value="Delete test"
               onclick="MyTestCors( '@Model.Host', '/api/TodoItems' + '@Model.Number' + '/5', 'DELETE')" />
    </li>

    <li>
        <input type="button" value="Delete [EnableCors]"
               onclick="MyTestCors( '@Model.Host', '/api/TodoItems' + '@Model.Number' + '/MyDelete2/5', 'DELETE')" />
    </li>

    <li>
        <input type="button" value="GET"
               onclick="MyTestCors( '@Model.Host', '/api/TodoItems' + '@Model.Number', 'GET')" />
    </li>

    <li>
        <input type="button" value="GET [EnableCors]"
               onclick="MyTestCors( '@Model.Host', '/api/TodoItems' + '@Model.Number' + '/GetTodoItems2', 'GET')" />
    </li>

</ul>

