@model IEnumerable<ContactManager.Models.Contact>
@using ContactManager.Authorization;


@{
    ViewData["Title"] = "Index";
}

<h2>Index User Authz Only, no Admin</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State) @*<snippet_1>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @if (await AuthorizationService.AuthorizeAsync(User,
                                                           item, ContactOperationsRequirements.Update))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a><text> | </text>
                    }
                    <a asp-action="Details" asp-route-id="@item.ContactId">Details</a>
                    @if (await AuthorizationService.AuthorizeAsync(User,
                                                             item, ContactOperationsRequirements.Delete))
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                    }
                </td>
                @*</snippet_1>*@
            </tr>
        }
    </tbody>
</table>
