@{
    // Razor keywords.

    var @functions = "functions";
    var @inherits = "inherits";
    var @model = "model";
    var @section = "section";
    var @helper = "helper";         // Not supported by ASP.NET Core.

    // C# Razor keywords.

    var @case = "case";
    var @do = "do";
    var @default = "default";
    var @for = "for";
    var @foreach = "foreach";
    var @if = "if";
    var @lock = "lock";
    var @switch = "switch";
    var @try = "try";
    var @using = "using";
    var @while = "while";

    // Reserved keywords not used.

    var @namespace = "namespace";
    var @class = "class";
}

<p>Razor keywords.</p>
<div>@(functions)</div>
<div>@(inherits)</div>
<div>@(model)</div>
<div>@(section)</div>
<div>@(helper)</div>

<p>C# Razor keywords.</p>
<div>@(@case)</div>
<div>@(@do)</div>
<div>@(@default)</div>
<div>@(@for)</div>
<div>@(@foreach)</div>
<div>@(@if)</div>
<div>@(@lock)</div>
<div>@(@switch)</div>
<div>@(@try)</div>
<div>@(@using)</div>
<div>@(@while)</div>

<p>Reserved keywords not used</p>
<div>@(@namespace)</div>
<div>@(@class)</div>
