<h1>Test Links</h1>

<ul>
    <ul class="nav navbar-nav">

        <li>
            <a href=@ViewData["url1"]>@ViewData["url1"]></a> &nbsp;
            <a href=@ViewData["url2"]>@ViewData["url2"]></a>
        </li>
        <li>
            <a href=@ViewData["url3"]>@ViewData["url3"]></a> &nbsp;
            <a href=@ViewData["url4"]>@ViewData["url4"]></a>
        </li>
        <li>
            <a href=@ViewData["p22"]>@ViewData["p22"]></a> &nbsp;
        </li>

        <li>
            <a href=@ViewData["p11"]> @ViewData["p11"] </a> &nbsp;
            <a href=@ViewData["p11a"]> @ViewData["p11a"] </a> &nbsp;
        </li>

        <li>
            <a href=@ViewData["p13"]> @ViewData["p13"] </a> &nbsp;
            <a href=@ViewData["p13a"]> @ViewData["p13a"] </a> &nbsp;
        </li>
    </ul>
</ul