@using Microsoft.AspNetCore.Mvc.Localization

@* The IViewLocalizer can be injected into the view. It does two things of interest:
    1. It can HTML encode *parameters* passed to resource strings (not the resource strings themselves, as they may contain
       HTML) automatically, and return the result as an IHtmlContent so Razor won't HTML encode it again;
    2. It looks for localization resources for this view based on the view path, e.g. if the view's path is
       "MyApplication/Views/Home/Index.cshtml", then the corresponding resource base path will be "MyApplication.Views.Home.Index" *@

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="row">
    <div class="col-md-3">
        <h2 asp-loc>Application uses</h2>
        <ul>
            <li asp-loc>Sample pages using ASP.NET MVC 6</li>
            <li asp-loc><a href="https://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li asp-loc>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 asp-loc>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600" asp-loc>Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699314" asp-loc>Add an appsetting in config and access it in app.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315" asp-loc>Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316" asp-loc>Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317" asp-loc>Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318" asp-loc>Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319" asp-loc>Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Overview"]</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">@Localizer["Conceptual overview of what is ASP.NET 5"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">@Localizer["Fundamentals of ASP.NET 5 such as Startup and middleware."]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">@Localizer["Working with Data"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">@Localizer["Security"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">@Localizer["Client side development"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">@Localizer["Develop on different platforms"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">@Localizer["Read more on the documentation site"]</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Run & Deploy"]</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">@Localizer["Run your app"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517852">@Localizer["Run your app on .NET Core"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">@Localizer["Run commands in your bash"]</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">@Localizer["Publish to Microsoft Azure Web Apps"]</a></li>
        </ul>
    </div>
</div>
