@page
@using Microsoft.AspNetCore.Localization
@model IndexModel
@{
    var price = 1501999.568m;
}
<!--Place everything inside this div-->
<div class="text-center">

    <!--Part II-->
    <strong>From SharedLocalizer</strong>
    <div>@SharedLocalizer["Good morning"]</div>
    <div>@SharedLocalizer["Welcome, {0} {1}", "Joe", "Doe"]</div>
    <div>@SharedLocalizer["I am not yet in the resx"]</div>

    <br />
    <br />

    <strong>From SharedLocalizer IndexModel</strong>
    <div>Key :@Model.Message.Name</div>
    <div>Value: @Model.Message</div>
    <div>ResourceNotFound ? @Model.Message.ResourceNotFound</div>
    <div>SearchedLocation: @Model.Message.SearchedLocation</div>

    <br />

    <div>Key : @Model.AnotherMessage.Name</div>
    <div>Value: @Model.AnotherMessage</div>
    <div>ResourceNotFound ? @Model.AnotherMessage.ResourceNotFound</div>
    <div>SearchedLocation: @Model.AnotherMessage.SearchedLocation</div>

    <br />
    <br />

    <!--Part I-->
    <strong>CultureInfo</strong>
    <div>CurrentCulture: <span>@CultureInfo.CurrentCulture</span></div>
    <div>CurrentUICulture: <span>@CultureInfo.CurrentUICulture</span></div>

    <br />

    <strong>Dates and currency</strong>
    <div>@DateTime.Now.ToLongDateString()</div>
    <div>@DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.DayOfWeek)</div>
    <div>@CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek)</div>
    <div>@price.ToString("c")</div>

    <br />

    <strong>Default Culture & UICulture</strong>
    <span>@RequetLocalizationOptions.Value.DefaultRequestCulture.Culture,</span>
    <span>@RequetLocalizationOptions.Value.DefaultRequestCulture.UICulture</span>

    <br />

    <strong>Cultures</strong>
    @foreach (var culture in RequetLocalizationOptions.Value.SupportedCultures)
    {
        <span>@culture,</span>
    }

    <br />

    <strong>UICultures</strong>
    @foreach (var uiculture in RequetLocalizationOptions.Value.SupportedUICultures)
    {
        <span>@uiculture,</span>
    }

    <br />
    <br />

    <strong>Request Culture Providers</strong>
    @foreach (var provider in RequetLocalizationOptions.Value.RequestCultureProviders)
    {
        <div>@provider.GetType().Name</div>
    }

    <br />
    @{
        var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
        var winner = requestCultureFeature?.Provider?.GetType().Name ?? "There is no winner!";
    }
    <strong>Winner provider: </strong><span>@winner</span>
    <br />
    <strong>RequestCulture from HTTP:</strong>
    <span>@requestCultureFeature?.RequestCulture.Culture, @requestCultureFeature?.RequestCulture.UICulture</span>

</div>
