<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <PageTitle>Contoso University</PageTitle>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Unfortunately, there is nothing on this page or at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
