@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>
@{
    ViewData["Title"] = "Remove Login";
}

@if (Model.Count > 0)
{
    <h4>Registered Logins</h4>
    <table class="table">
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.LoginProvider</td>
                    <td>
                        @if ((bool)ViewData["ShowRemoveButton"])
                        {
                            <form asp-controller="Manage" asp-action="RemoveLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                <div>
                                    <input asp-for="@account.LoginProvider" type="hidden" />
                                    <input asp-for="@account.ProviderKey" type="hidden" />
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account" />
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
