@page
@model Index4Model
@{
    ViewData["Title"] = "Dependency Injection Sample";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Operations</h2>
        </div>
        <div class="panel-body">
            <table>
                <colgroup span="4"></colgroup>
                <tr>
                    <th></th>

                    <th>Page Model</th>
                    <th>OperationService</th>
                </tr>
                <tr>
                    <td>Transient</td>
                    <td>@Model.TransientOperation.OperationId</td>
                    <td>@Model.OperationService.TransientOperation.OperationId</td>
                </tr>
                <tr>
                    <td>Scoped</td>
                    <td>@Model.ScopedOperation.OperationId</td>
                    <td>@Model.OperationService.ScopedOperation.OperationId</td>
                </tr>
                <tr>
                    <td>Singleton</td>
                    <td>@Model.SingletonOperation.OperationId</td>
                    <td>@Model.OperationService.SingletonOperation.OperationId</td>
                </tr>
            </table>
        </div>
    </div>
</div>
